.WriteReview {
  margin: 1rem;
}

.WriteReview-label {
  padding-right: 1rem;
}

.Review {
  margin: 1rem;
  position: relative;
}

.Review-delete {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.Review-user {
  display: inline;
  padding-right: 12px;
}

.Review-rating {
  display: inline;
}

.Review-rating span {
  font-weight: 900;
}

.Review-description span {
  padding-left: 1rem;
}
