.ProdResultItem {
  margin: 0 auto 1rem auto;
  padding: 1rem;
  position: relative;
  display: flex;
}

.ProdResultItem:hover {
  background-color: #cce5ff;
  cursor: pointer;
}

.ProdResultItem.sent {
  background-color: #e2e3e5;
  cursor: default !important;
  color: #818182;
}

.ProdResultItem-image {
  display: inline-flex;
}

.ProdResultItem-body {
  display: inline-block;
  padding-left: 1rem;
}

.ProdResultItem-icon {
  padding-top: 1rem;
  position: absolute;
  right: 1rem;
  color: #818182;
}