.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #bf354d;
  height: 50px;
  padding: 10px;
  color: #f0c853;
}

.App-title-link:hover{
    background-color: #575757;
    border: px;
    border-radius: 4px;
}

.App-title {
  font-size: 1.5em;
  color: #f0c853;
}

.App-title a {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.App-intro {
  font-size: large;
}

.navbar a {
  margin: 0 2px;
}

.spt-btn {
    border: 0px;
    background-color: #858585;
    border-radius: 4px;
}

.spt-btn:hover{
    background-color: #575757
}