.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #F7FFF5;
  height: 50px;
  color: #B51700;
}

.App-title {
  font-size: 1.5em;
  color: #f0c853;
}

.App-title a {
  text-decoration: none !important;
}

.navbar-link {
    font-family: 'Arial','Verdana';
    font-weight: bold;
}

a {
  text-decoration: none !important;
}

.no-gutters {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.App-intro {
  font-size: large;
}

.navbar a {
  margin: 0 2px;
}

.spt-btn:hover{
    background-color: #575757
}