.SearchBox {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-image: none;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  text-align: right; 
  background-color: #fff;
  display: flex;
  justify-content: space-between;
    
}

.SearchBox-text {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: #464a4c;
  font-weight: bold;
}

.SearchBox-submit{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}