.SearchBox {
  padding: 1rem;  
}

.SearchBox-text {
  /* padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: #464a4c;
  font-weight: bold; */
}

.SearchBox-submit{
  /* float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px; */
}